
.container{
    margin: auto;
    max-width: $max-width;
    padding: 0 20px;
    &:after{
        content: '';
        display: table;
        height: 1px;
        clear: both;
    }
}

.box{
    display: block;
    background-color: rgba($primary, 0.6);
    border: 1px solid $primary;
    min-height: 50px;
}

.box2{
    display: block;
    background-color: rgba($secondary, 0.6);
    border: 1px solid $secondary;
    min-height: 50px;
}

.hero{

    height: 60vh;
    width: 100%;
    position: relative;

}
